:root {
    --users-cell-height : 30px;
}

.empty, .users_list {
    margin-top: 10px;
    border: 1px solid var(--border-color);
    width: 100%;
}

.empty {
    padding: 10px;
    display: inline-block;
}

.empty_row {
    line-height: var(--users-cell-height) ;
    padding-left : 10px;
    display: table-row;
    width: 100%;
}

.user_row {
    padding-left: 10px;
    padding-right: 10px;
}

.user_row > .cell {
    line-height: var(--users-cell-height) ;
    padding-left : 10px;
}

.user_row > .cell:first-child {
    padding-left : inherit;
}

.user_row > .cell:last-child {
    padding-right : 10px;
}

.users_list > .user_row:nth-child(odd) {
    background-color : var(--table-odd-background)
}

.users_list > .user_row:nth-child(even) {
    background-color : var( --table-even-background)
}

.user_header_row {
    background-color : var(--table-header-background) !important;
}