:root {
    --panel-width : 380px ;
}
.contextual-panel {
    height: 100%;
    width: var(--panel-width);
    background: #f9f9f9;
    border-right: 1px solid #ccc;
    box-shadow: 0 2px 3px 0 #c6cacc;
    padding: 20px;
    overflow-y: auto;
    display: inline-block;
}