.contextual-panel-item{
    background: #f9f9f9;   
    margin-bottom: 1px;
}
.title-container{
    padding: 10px;
    background: #77c8ec;
    color: white;
    font-size: 1.21rem;
    text-align: center;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    transition: all 0.2s;
    cursor: pointer;
}
.retracted{
    padding: 10px;
    font-size: 1.21rem;
    text-align: center;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    background: transparent!important;
    border: 1px solid #7fd1f1;
    color: #77c8ec!important;
    transition: all 0.2s;
}
.icon-moveDown:before {
    content: "\e97f";
    font-size: 1.2rem;
    color: #fff;
}
.icon-moveUp:before {
    content: "\e942";
    font-size: 1.2rem;
    color: #fff;
}
.title-panel-item{
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 20px;
}
.content-panel-item{
    width: 100%;
    min-height: 250px;
    padding-top: 30px;
    background: #fff;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 2px 0 #d0d0d0;
}   
.content-panel-item form{
    padding: 0px;
}
.icon-moreUp:before {
    content: "\e910";
    font-size: 1.4rem;
    color: white;
}
.slide-up-enter-active {
    animation: panel_accordion_in 0.2s ease-in-out;
    -webkit-animation: panel_accordion_in 0.2s ease-in-out;
}
.slide-up-leave-active {
    animation: panel_accordion_out 0.1s ease-in-out;
    -webkit-animation: panel_accordion_out 0.1s ease-in-out;
}
/******************Accordion Panel item******************/
@keyframes panel_accordion_in {
    0% {
        opacity: 0;
        height: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        height: inherit;
        transform: scaleY(1);
    }
}
@keyframes panel_accordion_out {
    0% {
        opacity: 1;
        height: initial;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        height: 0;
        transform: scaleY(0);
    }
}