
/*********** CONTENT *************/

.router-content {
    width: 100%;
    max-width: 100%;
    position: relative;
}
#main_panel {
    transition: margin-left var(--animation-speed);
    margin-left: 0;
    position: relative;
}
.fade-enter-active {
    animation: fade_in var(--animation-speed) ease-in-out;
    -webkit-animation: fade_in var(--animation-speed) ease-in-out ;
}

.fade-leave-active {
    animation: fade_out var(--animation-speed) ease-in-out;
    -webkit-animation: fade_out var(--animation-speed) ease-in-out ;
}

.fade-in-enter-active {
    animation: fade_in var(--animation-speed) ease-in-out;
    -webkit-animation: fade_in var(--animation-speed) ease-in-out ;
}

.fade-out-leave-active {
    animation: fade_out var(--animation-speed) ease-in-out;
    -webkit-animation: fade_out var(--animation-speed) ease-in-out ;
}

.slide_router-enter-active {
    animation: page_fade_in var(--animation-speed) ease-in-out;
    -webkit-animation: page_fade_in var(--animation-speed) ease-in-out ;
}
.page_title {
    font-size: 1.5rem;
    font-family: Roboto;
    margin-left: 40px;
    margin-top: 40px;
    color: #34495e;
}
.content {
    width: calc(100% -20px) ;
    height: calc(100% - 70px);
    background: var(--bg-background-content);
    overflow-y: auto;
}
.contentPage{
    padding:40px 40px 60px 40px;
}