.modal-mask {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    z-index: 12;
}
.modal-container {
    display: table;
    text-align: left;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    max-width: 600px;
    min-width: 200px;
}
.modal-header {
    position: relative ;
    display: inline-block;
    width: 100%;
    align-items: left;
    height: 40px;
    line-height: 40px;
    background: #eaeaea;
}
.modal-type-icon {
    position: absolute;
    top: 8px;
    left: 1rem;
}
.modal-title {
    font-family: Roboto;
    font-size: 1rem;
    color:#34495e;
    margin-left: 3rem;
}
.modal-close-button {
    position: relative;
    color: #8f8f8f;
    line-height: 100%;
    font-size: 35px;
    font-weight: bold;
    float: right;
    margin-right: 1rem;
}
.modal-close-button:hover,
.modal-close-button:focus {
    color: red;
    cursor: pointer;
}
.modal-body-content {
    font-size: 1rem;
    font-family: Roboto;
    color: #34495e;
    padding: 40px;
}
.modal-footer .button {
    margin-top: 12px;
    margin-bottom: 12px;
}
.modal-footer {
    background: #f1f1f1;
}
/* Animation */
.modal-enter-active {
    animation: modal-zoom 0.6s;
    -webkit-animation: modal-zoom 0.6s;
}
@-webkit-keyframes modal-zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}   
@keyframes modal-zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}