:root {
    --sidenav-width : 310px ;
    --sidenav-min-width : 305px ;
    --sidenav-item-height: 70px ;
    --sidenav-background : #f9f9f9 ;
    --sidenav-background-hover : #f4fbff ;
    --sidenav-background-selected : #dcf4ff ;
    --sidenav-background-selected-border: #5dcdff;
    --sidenav-border-color:#eaeaea;
    --sidenav-item-child-background:#fff;
    --sidenav-item-color:#37474f;
    --sidenav-logo-color:#52c9ff;
    --sidenav-text-color:#52c9ff;
}
.sidenav {
    width: var(--sidenav-width);
    font-family: Roboto, Lato, Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: var( --sidenav-background);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: var(--animation-speed-fast);
    border-right: 1px solid #cccccc;
    height: 100%;
    z-index: 11;
}
/*********** HEADER ***********/
.sidenav-header {
    width: 100%;
    height:var(--top-height);
    border-bottom:1px solid var(--sidenav-border-color);
}
.sidenav-header-logo {
    height: var(--top-height);
    width: var(--top-height);
    background-color:var(--sidenav-logo-color);
    display: inline-block;
    color:var(--sidenav-text-color);
}
.sidenav-header-logo:before{
    font-family: 'icomoon';
    content: "\e9f4";
    font-size: 3rem;
    line-height: 1.5;
    margin-left: 0.6rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(0, 94, 135);
}
.sidenav-header-name {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 10;
    margin-left: 20px;
}
.sidenav-header-by {
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    display: inline-block;
    position: absolute;
    top: 40;
    margin-left: 20px;
}
/*********** SIDENAV ITEM ***********/
.sidenav-item {
    display: block;
    line-height: var(--sidenav-item-height);
    min-width: var(--sidenav-min-width);
    height: var(--sidenav-item-height);
    background-color: var(--sidenav-background);
    border-bottom: 1px solid var(--sidenav-border-color);
    color:var(--sidenav-item-color) !important;
    cursor: pointer;
    cursor: hand;
}
.sidenav-item.active {
    background: var(--sidenav-background-selected);
    border-right: 5px solid var(--sidenav-background-selected-border);
}
.sidenav-item > span {
    margin-left: 28px ;
}
/*********** SIDENAV GROUP ***********/
.sidenav-group > div:first-child > i {
    margin-left: 10px;
}
.sidenav-group > div:first-child > span {
    margin-left: 0;
}
/*********** SIDENAV CHILD ***********/
.sidenav-item.sidenav-child {
    background-color: var(--sidenav-item-child-background);
    border-bottom: 1px solid var(--sidenav-border-color);
}
.sidenav-item.sidenav-child > span {
    margin-left: 40px;
}
/*********** PANEL ANIMATION ***********/
.sidenav-hidden {
    width: 0px!important;
}
/*********** CHILD ANIMATION ***********/
.sidenav-child-enter-active {
    animation: accordion_in var(--animation-speed-fast) ease-in-out;
    -webkit-animation: accordion_in var(--animation-speed-fast) ease-in-out ;
}
.sidenav-child-leave-active {
    animation: accordion_out var(--animation-speed-fast) ease-in-out;
    -webkit-animation: accordion_out var(--animation-speed-fast) ease-in-out ;
}