:root {
    --top-height: 70px;
}

.top_bar {
    position: relative ;
    line-height: var(--top-height);
    width: 100% ;
    height: var(--top-height);
    padding: 0px ;
    -webkit-box-shadow: 0 2px 3px 0 #c6cacc;
    -o-box-shadow: 0 2px 3px 0 #c6cacc;
    box-shadow: 0 2px 3px 0 #c6cacc;
    background-color: white;
    display: inline-flex;
    z-index: 10;
}

.top_bar:hover {
    cursor: default;
}

.top_bar_left_title {
    margin-left: 40px;
    font-size: larger;
    font-weight: bold;
    height: var(--top-height);
    line-height: var(--top-height);
    text-align: center;
    display: inline-block;
    color: #34495e;
    font-family: Roboto;
    font-size: 1rem;
}

.top_bar_right {
    position: absolute ;
    right: 0px;
    top:0px;
    line-height: var(--top-height);
    height: var(--top-height) ;
    margin-right: 50px;
    margin-left: 50px;
}
.form-group.select-local{
    margin-top: 30px;
    margin-right: 20px;
}
.user_name {
    margin-right: 5px;
    color: #34495e;
    font-family: Roboto;
    font-size: 0.9rem;
}
