.user-info {
    display: inline-block;
    height: var(--top-height);
    line-height: normal;
    margin-right: 10px;
}
.user-info-panel, .user-login-panel {
    height: var(--top-height);
    margin-left: 10px;
}
.user-info-name {
    margin-right: 5px;
}
.user-info-win {
    position: absolute;
    z-index: 10000;
    width: auto;
    right: 12px;
    top: calc(var(--top-height) + 10px);
    padding: 30px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px #cecece;
}
.user-info-win > div {
    position: relative ;
}
.user-info-win-title {
    min-width: 210px;
    margin-bottom: 20px;
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
    color: #54495e;
}
.user-info-win-hide {
    position : absolute ;
    bottom : 0px ;
    right: -7px;
}
.user-info-login-valid {
    margin-top: 10px ;
    margin-left: 5px;
}
.user-info-login, .user-info-password {
    margin-top: 10px;
    margin-left: 5px;
}
.user-info-type-user{
    font-family: Roboto;
    font-size: 1rem;
    color: #34495e;
    margin-top: 20px;
}
.user-info-label {
    font-family: Roboto;
    font-size: 0.7rem;
    color: #8d8d8d;
    margin-top: 10px;
}
.user-info-value {
    font-family: Roboto;
    font-size: 1rem;
    color: #34495e;
}
/* TRANSITION */
.user-info-win-leave-active {
    animation: fade_out_slide_up var(--animation-speed-fast) ease-in-out;
    -webkit-animation: fade_out_slide_up var(--animation-speed-fast) ease-in-out ;
}
.user-info-win-enter-active {
    animation: fade_in_slide_down var(--animation-speed-fast) ease-in-out;
    -webkit-animation: fade_in_slide_down var(--animation-speed-fast) ease-in-out ;
}