/*********** APP *************/
#app {
    width : 100%;
    height: 100%;
}
.router-content {
    width: 100%;
    max-width: 100%;
    position: relative;
}
/*********** MAIN PANEL *************/
#main-panel {
    transition: margin-left var(--animation-speed-fast);
    margin-left: 0;
    position: relative;
    overflow: hidden;
    margin-left : var(--sidenav-width);
}
#main-panel.main-panel-expanded {
    margin-left : 0px;
}
/*********** ANIMATIONS *************/
.fade-in-enter-active {
    animation: fade_in var(--animation-speed-fast) ease-in-out;
    -webkit-animation: fade_in var(--animation-speed-fast) ease-in-out ;
}
.slide-router-enter-active {
    animation: page_fade_in var(--animation-speed-fast) ease-in-out;
    -webkit-animation: page_fade_in var(--animation-speed-fast) ease-in-out ;
}