:root {
    --main-color : #282e2f;
    --secondary-color: azure;
    --border-color: rgba(127, 63, 191, 0.3);
    --animation-speed: 0.25s;
    --table-header-background : var(--main-color) ;
    --table-odd-background : var(--secondary-color) ;
    --table-even-background : white;
    --bg-background-content : #f1f1f1;
}

* {
    margin : 0px;
    padding: 0px;
}

body {
    margin: 0px ;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

textarea, input, button, select { 
    outline: none; /* remove focus glow */
}

ul {
    list-style: none;
    padding: 0px ;
    margin: 0px ;
}

li {
    width: 100%;
}

input {
    padding-left: 5px;
}

h3 {
    margin: 5px;
    margin-top: 0;
}

select {
    border: 1px solid var(--border-color);
    background-color: white;
}

#app {
    width : 100%;
    height: 100%;
}

.error {
    color : darkred;
    font-size: smaller;
    margin-left: 5px;
}

button {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.link, button {
    cursor: pointer;
    cursor: hand;
}

.reload_btn {
    position: absolute ;
    top : 10px;
    right: 10px;
}

.add_btn {
    position: absolute ;
    top : 10px;
    right: 40px;
}

.default_button {
    background-color: var(--border-color);
}

.small-icon {
    font-size: 14px;
}

.m_left_10 {
    margin-left: 10px
}

.m_left_5 {
    margin-left: 5px
}

a, a:-webkit-any-link {
    text-decoration: none ;
}

/*********** TABLE *************/

.table {
    display: table;
    border-collapse: collapse;
}

.row {
    display: table-row;
    vertical-align: top;
}

.cell {
    display: table-cell;
    vertical-align: top;
    padding: 2px;
}

/*********** TEXT *************/

.bold {
    font-weight: bold;
}

.page_title {
    font-size: 20px;
}

/*********** CONTENT *************/

.router-content {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.content {
    width: calc (100% -20px) ;
    height: calc(100% - 90px);
    padding: 10px;
    background: var(--bg-background-content);
}

#main_panel {
    transition: margin-left var(--animation-speed);
    margin-left: 0;
    position: relative;
}

.fade-enter-active {
    animation: fade_in var(--animation-speed) ease-in-out;
    -webkit-animation: fade_in var(--animation-speed) ease-in-out ;
}

.fade-leave-active {
    animation: fade_out var(--animation-speed) ease-in-out;
    -webkit-animation: fade_out var(--animation-speed) ease-in-out ;
}

.fade-in-enter-active {
    animation: fade_in var(--animation-speed) ease-in-out;
    -webkit-animation: fade_in var(--animation-speed) ease-in-out ;
}

.fade-out-leave-active {
    animation: fade_out var(--animation-speed) ease-in-out;
    -webkit-animation: fade_out var(--animation-speed) ease-in-out ;
}

.slide_router-enter-active {
    animation: page_fade_in var(--animation-speed) ease-in-out;
    -webkit-animation: page_fade_in var(--animation-speed) ease-in-out ;
}

/*.slide_router-leave-active {
    animation: page_fade_out var(--animation-speed) ease-in-out;
    -webkit-animation: page_fade_out var(--animation-speed) ease-in-out ;
}*/

/*********** LOADING ***********/

.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*********** INSET SHADOW *************/

.top-inset-shadow {
   
}

.inset-shadow {
    -webkit-box-shadow: inset 6px 3px 15px 0px var(--border-color);
    -moz-box-shadow: inset 6px 3px 15px 0px var(--border-color);
    box-shadow: inset 6px 3px 15px 0px var(--border-color);
}

/*********** NO SELECTION *************/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.noselect:hover {
    cursor: default;
}

/*********** FLEX CONTAINERS *************/

.v_align_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.column_container {
    display: flex ;
    flex-flow: column nowrap ;
    justify-content: flex-start ;
    align-items: flex-start ;
}

.row_justify_top {
    display: flex ;
    flex-flow: row wrap ;
    justify-content: flex-start ;
}

/*********** BORDER RADIUS *************/

.border_radius {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
    