:root {
    --menu-width : 250px ;
    --menu-height: 70px ;
    --menu-background : #f9f9f9 ;
    --menu-background-hover : #f4fbff ;
    --menu-background-selected : #dcf4ff ;
    --menu-background-selected-border: #5dcdff;
    --menu-border-color:#eaeaea;
    --menu-item-background:#fff;
    --menu-link-color:#37474f;
}

.menus {
    width: var(--menu-width);
    text-decoration: none;
    background-color: var(--secondary-color);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: var(--animation-speed);
}

[id^='menu.'] {
    display: block;
    line-height: var(--menu-height);
    height: var(--menu-height);
    background-color: var(--menu-background);
    border-bottom: 1px solid var(--menu-border-color);
}

[id^='menu.'].active {
    background: var(--menu-background-selected);
    border-right: 5px solid var(--menu-background-selected-border);
}

[id^='menu.'] > span {
    margin-left: 28px ;
}

.menu-group > div > i {
    margin-left: 10px;
}

.menu-group > div > span {
    margin-left: 0;
}

.menu-item {
    background-color: var(--menu-item-background);
    border-bottom: 1px solid var(--menu-border-color);
}

.menu-item > span {
    margin-left: 40px;
}

.menu_item-enter-active {
    animation: accordion_in var(--animation-speed) ease-in-out;
    -webkit-animation: accordion_in var(--animation-speed) ease-in-out ;
}

.menu_item-leave-active {
    animation: accordion_out var(--animation-speed) ease-in-out;
    -webkit-animation: accordion_out var(--animation-speed) ease-in-out ;
}

/******************* CLOSE BUTTON *******************/

.menu_button {
    width: 30px;
    height: 23px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: inline-block;
    margin-top: 24px;
    margin-left: 30px;
}

.menu_button span {
   display: block;
    position: absolute;
    height: 3px;
    width: 23px;
    background: #999999;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: var(--animation-speed) ease-in-out;
    -moz-transition: var(--animation-speed) ease-in-out;
    -o-transition: var(--animation-speed) ease-in-out;
    transition: var(--animation-speed) ease-in-out;
}

.menu_button span:nth-child(1) {
  top: 0px;
}
.menu_button.open span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px;
    left: 4px;
}
.menu_button.open span:nth-child(2) {
    display:none;
}
.menu_button.open span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px;
    left: 4px;
}

.menu_button span:nth-child(2) {
  top: 9px;
}

.menu_button span:nth-child(3) {
  top: 18px;
}
/*
.menu_button.open {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
*/
.menu-text-link{
    font-family: Roboto, Lato, Arial, Helvetica, sans-serif;
    font-size: 0.97rem;
    color:var(--menu-link-color);
}
.sub-menu-text-link{
    font-family: Roboto, Lato, Arial, Helvetica, sans-serif;
    font-size: 0.95rem;
    color:var(--menu-link-color);
}