:root {
    --background-color-logo:#52c9ff;
    --color-app-text:#52c9ff;
}
div#sidenav {
    height: 100%;
    width: 250px;
    border-right: 1px solid #cccccc;
    background-color: var( --menu-background);
    transition: var(--animation-speed);
    z-index: 11;
}
.closed-main-menu{
    width: 0px!important;
}
.link-menu{
    background-color: var( --menu-background);
}
.link-menu:hover{
    background-color: var( --menu-background-hover);
}
#app-logo{
    width: 100%;
    height:var(--top-height);
    border-bottom:1px solid var(--menu-border-color);
}
#logo{
    height: var(--top-height);
    width: var(--top-height);
    background-color:var(--background-color-logo);
    display: inline-block;
}
#logo:before{
    font-size: 3rem;
    line-height: 1.5;
    margin-left: 0.6rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(0, 94, 135);
}
#text-logo{
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color:var(--color-app-text);
    display: inline-block;
    position: absolute;
    top: 10;
    margin-left: 20px;
}
#text-sub-logo{
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    color:var(--color-app-text);
    display: inline-block;
    position: absolute;
    top: 40;
    margin-left: 20px;
}