:root {
    --border-color: rgba(127, 63, 191, 0.3);
    --layout-color: azure;
}

* {
    margin : 0px;
    padding: 0px;
}

body {
    margin: 0px ;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

textarea, input, button, select { 
    outline: none; /* remove focus glow */
}

ul {
    list-style: none;
    padding: 0px ;
    margin: 0px ;
}

li {
    width: 100%;
}

input {
    padding-left: 5px;
}

h3 {
    margin: 5px;
    margin-top: 0;
}

select {
    border: 1px solid var(--border-color);
    background-color: white;
}

#app {
    width : 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.error {
    color : darkred;
    font-size: smaller;
    margin-left: 5px;
}

button {
    background-color: var(--layout-color);
    border: 1px solid var(--border-color);
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.link, button {
    cursor: pointer;
    cursor: hand;
}

.default_button {
    background-color: var(--border-color);
}

.small-icon {
    font-size: 14px;
}

.m_left_10 {
    margin-left: 10px
}

.m_left_5 {
    margin-left: 5px
}

a, a:-webkit-any-link {
    text-decoration: none ;
}

/*********** TABLE *************/

.table {
    display: table;
}

.table_space_5 {
    border-spacing: 5px;
}

.row {
    display: table-row;
    vertical-align: top;
}

.cell {
    display: table-cell;
    vertical-align: top;
}

/*********** TEXT *************/

.bold {
    font-weight: bold;
}

/*********** CONTENT *************/

.router-content {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
}

.content {
    width: calc (100% -20px) ;
    padding: 10px;
}

.right-panel {
    position: relative;
}

.slide_router-enter-active {
    animation: fade_in 0.4s ease-in-out;
    -webkit-animation: fade_in 0.4s ease-in-out ;
}

.slide_router-leave-active {
    animation: slide_left_right 0.4s ease-in-out;
    -webkit-animation: slide_left_right 0.4s ease-in-out ;
}

/*********** INSET SHADOW *************/

.top-inset-shadow {
    -webkit-box-shadow: inset 0px 11px 12px -9px var(--border-color);
    -moz-box-shadow: inset 0px 11px 12px -9px var(--border-color);
    box-shadow: inset 0px 11px 12px -9px var(--border-color);
}

.inset-shadow {
    -webkit-box-shadow: inset 6px 3px 15px 0px var(--border-color);
    -moz-box-shadow: inset 6px 3px 15px 0px var(--border-color);
    box-shadow: inset 6px 3px 15px 0px var(--border-color);
}

/*********** NO SELECTION *************/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/*********** FLEX CONTAINERS *************/

.v_align_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.column_container {
    display: flex ;
    flex-flow: column nowrap ;
    justify-content: flex-start ;
    align-items: flex-start ;
}

.row_justify_top {
    display: flex ;
    flex-flow: row wrap ;
    justify-content: flex-start ;
}

/*********** BORDER RADIUS *************/

.border_radius {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
    