:root {
    --menu-width: 180px ;
    --menu-height: 40px ;
    --top-height: 50px;
}

*[class$="_button"] {
    cursor: pointer;
    cursor: hand;
}

body {
    margin: 0px ;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
    padding: 0px ;
    margin: 0px ;
}

li {
    width: 100%;
}

#app {
    width : 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

    display: flex ;
    flex-flow: row wrap ;
    justify-content: flex-start ;
}

/*********** TOP BAR *************/

.top_bar {
    position: relative ;
    line-height: var(--top-height);
    width: 100% ;
    height: var(--top-height) ;
    padding: 0px ;
    background-color: azure;
}

.top_bar:hover {
    cursor: default;
}

.top_bar_left_title {
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    width: var(--menu-width);
    height: var(--top-height);
    min-width: var(--menu-width);
    line-height: var(--top-height);
    text-align: center;
}

.select_locale {
    position: absolute ;
    right: 25px;
    top:16px;
    cursor : pointer;
}

/*********** MENU *************/

.left_menu {
    display: flex ;
    flex-flow: column nowrap ;
    justify-content: flex-start ;
    align-items: flex-start ;
    width: var(--menu-width) ;
    min-width: var(--menu-width) ;
    background-color: azure;
    height: 100%;
}

.left_menu a {
    display: inline-block ;
    width: 100%;
    height : var(--menu-height) ;
    line-height: var(--menu-height);
    text-decoration: none;
    text-align: center ;
}

.left_menu a:link, .left_menu a:visited {
    color : black;
}

.left_menu a.active {
    /* shadow*/
    -webkit-box-shadow: inset 0px 0px 5px 4px rgba(127, 63, 191, 0.3);
    -moz-box-shadow: inset 0px 0px 5px 4px rgba(127, 63, 191, 0.3);
    box-shadow: inset 0px 0px 5px 4px rgba(127, 63, 191, 0.3);
}

.left_menu a:hover {
    font-size: 17px;
}

/*********** CONTENT *************/

.content {
    width: calc(100% - (var(--menu-width) + 20px)) ;
    max-width: calc(100% - (var(--menu-width) + 20px)) ;
    padding: 10px;
}

.page-content {
    margin: 10px;
    max-width : 98%;
}

/*********** INSET SHADOW *************/

.inset-shadow,
.content {
    -webkit-box-shadow: inset 6px 3px 15px 0px rgba(196,196,196,0.59);
    -moz-box-shadow: inset 6px 3px 15px 0px rgba(196,196,196,0.59);
    box-shadow: inset 6px 3px 15px 0px rgba(196,196,196,0.59);
}

/*********** NO SELECTION *************/

.top_bar,
.left_menu,
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}