
/*************** CUSTOM MODAL ***************/

.modal-enter-active {
    animation: scale-up 0.4s ease-in-out;
    -webkit-animation: scale-up 0.4s ease-in-out ;
}

/*************** SCALE-UP ***************/

@keyframes scale-up {
    0% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    50% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}