:root {
    --users-cell-height : 30px;
}
.user_row.table-row {
    background: #fff;
    border-bottom: 1px solid #eee;
}
.user_row.table-row.user_header_row {
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #ccc;
    height: 40px;
    background: #f9f9f9;
}

.users_list.table {
    display: table;
    border-collapse: collapse;
    width: calc(100% - 80px);
    margin: 40px;
    box-shadow: 0 2px 3px 0 #c6cacc;
}
.user_row.table-row .cell {
    padding: 20px;
}
.users_list.table:hover {
    box-shadow:0px 4px 8px 0px #b0b0b0;
}
.user_header_row.user_row.table-row .cell {
    font-weight: bold;
    color: #37474f;
}