/****************** FORM ******************/
form {
  padding: 3rem 5rem 0;
  font-family: Roboto;
}
.form-container {
  width: 80%;
  min-width: 500px;
  background: #fff;
  margin: auto;
  box-shadow: 0 2px 2px 0 #bababa;
  margin-top: 30px;
  transition: all 0.2s;
}
.form-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 1.2em;
  font-weight: bold;
  background: rgba(139, 139, 139, 0.07);
  text-transform: capitalize;
  color: #505869;
}
.form-container:hover {
  box-shadow: 0 4px 8px 0 #bababa;
  transition: all 0.2s;
}
.form-radio-box, .form-field {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  text-align: left;
}
.form-field {
  margin-top: 1.25rem;
}
.form-inline > .form-field,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}
.form-hidden {
  display: none;
}
.form-field input {
  height: 1.9rem;
}
.form-field select {
  width: 100%;
  font-size: 0.8rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-field .form-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 0.8rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-field input,
.form-field textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 0.8rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-field input[type="file"] {
  line-height: 1;
}
.form-field select,
.form-field input:focus,
.form-field input:valid,
.form-field input.form-file,
.form-field input.has-value,
.form-field textarea:focus,
.form-field textarea:valid,
.form-field textarea.form-file,
.form-field textarea.has-value {
  color: #333;
}
.form-field select ~ .form-label,
.form-field input:focus ~ .form-label,
.form-field input:valid ~ .form-label,
.form-field input.form-file ~ .form-label,
.form-field input.has-value ~ .form-label,
.form-field textarea:focus ~ .form-label,
.form-field textarea:valid ~ .form-label,
.form-field textarea.form-file ~ .form-label,
.form-field textarea.has-value ~ .form-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.form-field select:focus,
.form-field input:focus,
.form-field textarea:focus {
  outline: none;
}
.form-field select:focus ~ .form-label,
.form-field input:focus ~ .form-label,
.form-field textarea:focus ~ .form-label {
  color: #337ab7;
}
.form-field > label {
  text-transform: capitalize;
}
/****************** DATE ******************/
.form-field input[type="date"]{
  font-family:Roboto;
  max-width: 200px;
}
/****************** FIELDSET ******************/
fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}
/****************** TEXTAREA ******************/
textarea{
  resize:auto;
}
/****************** RADIO ******************/
.form-checkbox label,
.form-radio-box label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #34495e;
  display: block;
  font-size: 0.8rem;
}
.form-checkbox input,
.form-radio-box input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}
.form-radio {
  margin-bottom: 1rem;
}
.form-radio .form-helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size:0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #999;
}
.form-radio .form-helper::before, .form-radio .form-helper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.form-radio .form-helper::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #337ab7;
  border-color: #2196f3;
}
.form-radio label:hover .form-helper {
  color: #337ab7;
}
.form-radio input:checked ~ .form-helper::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.form-radio input:checked ~ .form-helper::before {
  color: #2196f3;
}
/****************** CHECKBOX ******************/
.form-checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.form-checkbox .form-helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.form-checkbox .form-helper::before, .form-checkbox .form-helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #2196f3;
  display: block;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.form-checkbox .form-helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}
.form-checkbox .form-helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.form-checkbox label:hover .form-helper {
  color: #337ab7;
}
.form-checkbox input:checked ~ .form-helper {
  color: #337ab7;
}
.form-checkbox input:checked ~ .form-helper::after, 
.form-checkbox input:checked ~ .form-helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.form-checkbox input:checked ~ .form-helper::after {
  height: 0.5rem;
}
.form-checkbox input:checked ~ .form-helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.form-radio + .form-radio,
.form-checkbox + .form-checkbox {
  margin-top: 1rem;
}
input[type="checkbox"]:checked ~ label {
  background: #aed7f8;
}
input[type="checkbox"]:checked ~ label:after {
  left: 15px;
  background: #2196f3;
}
input[type="checkbox"]:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
input[type="checkbox"]:disabled ~ label:after {
  background: #bcbdbc;
}
/****************** BUTTON ******************/
.form-button-box {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.form-button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 0.9rem;
  color: #4f93ce;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.form-button span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.form-button::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.form-button.form-cancel::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid red;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.form-button.form-cancel:hover {
  color: #d9534f;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.form-button:hover {
  color: #337ab7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.form-button:active::before, .form-button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.form-button:focus {
  outline: none;
}
.form-cancel{
  margin-left:20px;
  background: #ff3e3e;
  color: #ff3e3e;
}
.form-button.form-cancel:active::before, .form-button.form-cancel:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
/****************** SELECT DROPDOWN ******************/
.form-dropdown{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}	
.form-field select.form-dropdown:focus options{
	height:30px;
	padding:20px;
	border:3px solid black;
}
/****************** TOGGLE ******************/
.form-toggle > label {
  position: relative;
  display: block;
  height: 14px;
  width: 30px;
  background: #d8d8d8;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.form-toggle > label:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #898989;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.form-toggle > label:active:after {
  transform: scale(1.15, 0.85);
}
.form-toggle > span {
  text-align: left;
  display: block;
  margin-top: -1.0rem;
  margin-left: 2.8rem;
  font-size: 0.8rem;
  color: #34495e;
}
/****************** INPUT ******************/
input[type=range] {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  margin-top: 8px;
  background-color: #337ab7;
  border-radius: 1em;
  border: 2px solid rgba(93, 205, 255, 0.5);
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  margin-top:8px;
  background-color: #337ab7;
  border-radius: 1em;
  border: 2px solid rgba(93, 205, 255, 0.5);
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  width: 2em;
  height: 2em;
  margin-top: 8px;
  background-color: #337ab7;
  border-radius: 1em;
  border: 2px solid rgba(93, 205, 255, 0.5);
  cursor: pointer;
}
input[type=range]:hover::-webkit-slider-thumb {
  border-color: rgba(93, 205, 255, 0.7);
}
input[type=range]:hover::-moz-range-thumb {
  border-color: rgba(93, 205, 2555, 0.7);
}
input[type=range]:hover::-ms-thumb {
  border-color: rgba(93, 205, 255, 0.7);
}
input[type=range]:active::-webkit-slider-thumb {
  border-color: #337ab7;
}
input[type=range]:active::-moz-range-thumb {
  border-color: #337ab7;
}
input[type=range]:active::-ms-thumb {
  border-color: #337ab7;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"] {
  border-bottom: 3px solid #80c7e7;
}
/****************** FIELD-BAR ******************/
.form-field .form-bar {
  position: relative;
  border-bottom: 0.0625rem solid #ddd;
  display: block;
}
.form-field .form-bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-field input[type="file"] ~ .form-bar {
  display: none;
}
.form-field select:focus ~ .form-bar::before,
.form-field input:focus ~ .form-bar::before,
.form-field textarea:focus ~ .form-bar::before {
  width: 100%;
  left: 0;
}
i.form-bar.form-bar-short {
  max-width: 200px;
}