#loan .button{
    margin:0px;
    margin-bottom: 10px;
    width: 100%;
}
.sample-button{
  margin-top: 2px!important;
  margin-bottom: 2px!important;
  width: 200px !important;
}
.sample-button span{
  color: #fff;
}